<template name="Home">
	<section class="content">
		<h2 class="bordered">Your Meteor app is running.</h2>
		<p>
            Meteor runs with the Iron.Router package, so you can see a small menu on top of the page.<br>            
            Now it&apos;s time for going creative and developing the next killer app.
        </p>
        <p>Happy coding!</p>   

		<h2 class="bordered">Documentation</h2>
		<p>
			The latest official documentation can be found here:<br>
			<a href="http://docs.meteor.com/#/full/" target="_blank">http://docs.meteor.com/#/full/</a>
		</p>


		<h2 class="bordered">Related Links</h2>
		{{#if data}}
		<ul class="link-collection">
		{{#each data}}
			<li class="contact"><strong>{{title}}</strong>,<br>{{desc}}<br>
			<a href="{{link}}" target="_blank">{{link}}</a></li>
		{{/each}}
		</ul>
		{{/if}}
	</section>
</template>
